In [30]:
# Dataset:https://www.kaggle.com/c/mercedes-benz-greener-manufacturing/data?select=test.csv.zip
import pandas as pd
import numpy as np
df = pd.read_csv('mercedesbenz.csv',usecols=['X1','X2','X3','X4','X5','X6'])

In [31]:
df.head()

  X1  X2 X3 X4 X5 X6
0  v   n  f  d  t  a
1  b  ai  a  d  b  g
2  v  as  f  d  a  j
3  l   n  f  d  z  l
4  s  as  c  d  y  i

### OneHotEncoding Using Pandas

In [32]:
encoded = pd.get_dummies(df,drop_first=True)

In [33]:
encoded.head()

,X1_aa,X1_ab,X1_b,X1_c,X1_d,X1_e,X1_f,X1_g,X1_h,X1_i,...,X6_c,X6_d,X6_e,X6_f,X6_g,X6_h,X6_i,X6_j,X6_k,X6_l
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [34]:
encoded.shape

(4209, 121)

In [35]:
# Since There Are so many columns which is not efficient
# We will try to reduce these columns
#insted of taking all categorical values in each  column we will take top 10 most repeated values in that column

In [41]:
#Top 10 most repeated values in X1
top10x1 = [i for i in df.X1.value_counts().head(10).sort_values(ascending = False).index]
top10x2 = [i for i in df.X2.value_counts().head(10).sort_values(ascending = False).index]
top10x3 = [i for i in df.X3.value_counts().head(10).sort_values(ascending = False).index]
top10x4 = [i for i in df.X4.value_counts().head(10).sort_values(ascending = False).index]
top10x5 = [i for i in df.X5.value_counts().head(10).sort_values(ascending = False).index]
top10x6 = [i for i in df.X6.value_counts().head(10).sort_values(ascending = False).index]

# we should make binary values for each value
l = [top10x1,top10x2,top10x3,top10x4,top10x5,top10x6]
def encode(df,column,top10):
    for label in top10:
        df[column+'_'+label] = np.where(df[column]==label,1,0)
for i in range(6):
    encode(df,df.columns[i],l[i])

In [45]:
df.drop(['X1','X2','X3','X4','X5','X6'],axis=1,inplace=True)

In [47]:
df.head()

,X1_aa,X1_s,X1_l,X1_b,X1_v,X1_r,X1_i,X1_a,X1_c,X1_o,...,X6_g,X6_j,X6_d,X6_i,X6_l,X6_h,X6_a,X6_k,X6_c,X6_f
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4,0,1,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0